<h3>What is the FirstCare Service?</h3>
<p>
  The FirstCare Service is an innovative approach to helping
  organisations manage and reduce absence. There are 5 main components to it:
</p>

<div>
  <h4>24/7 Absence Recording and Notifications</h4>
  <p>
    FirstCare provides
    each client with a dedicated absence line which rings into our specialist London
    based 24/7 Absence Contact Centre. Here, we record the details of every absence
    in a fair, consistent, complete and accurate manner while at the same time offering
    medical advice and support to employees. Following each call, our system will issue
    timely notifications to all key stakeholders, providing detailed absence information
    and guidance on the best next steps to take and when.
  </p>
</div>

<div>
  <h4>24/7 Online Management Information></h4>
  <p>Details of every absence
    appear in real-time reports on MyFirstCare a secure online portal available to
    HR and Line Managers and providing dashboards, trend reports, focus lists and task
    monitoring reports, enabling users to proactively manage absence and make informed
    decisions.
  </p>
</div>

<div>
  <h4>Absence Policy Alerts and Wellbeing Referral Triggers</h4>
  <p>FirstCare map the triggers
    of an organisation's absence policy on to its system and scan each and every absence
    before generating alerts to relevant stakeholders, such as line managers, HR, Health
    and Safety Officers and Occupational Health. These alerts can be fully customised
    with bespoke content and attachments to ensure the right steps are taken to investigate
    them.
  </p>
</div>

<div>
  <h4>Return to Work Interview Monitoring</h4>
  <p>
    FirstCare track the online completion of all Return to Work Interviews and
    produce reporting on compliance throughout the organisation by both hierarchy
    area and absence reason to help identify areas of non-compliance. In addition,
    FirstCare provide dynamic RTW forms, where the questions are driven by the absence reason, and a host of supporting material for managers to use in the interviews.
  </p>
</div>

<div>
  <h4>Account Management</h4>
  <p>
    FirstCare assigns an Account Management team to each of its clients. This team comprises
    of a Senior Account Manager and 2 Service Delivery Advisors, who work with our clients key
    contacts to analyse absence trends, recommend best practice adjustments to policies and procedures,
    and discuss the best ways to manage and reduce absence.
  </p>
</div>
